export HEAT_URL=http://{{ heathost }}:8004/v1/{{ tenantid }}
export OS_NO_CLIENT_AUTH=True
export OS_USERNAME=admin
export OS_TENANT_NAME=admin
export OS_PASSWORD=123456
export OS_AUTH_URL=http://{{ stackhost }}:35357/v2.0/
